.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100hv;
  margin-top: 15rem;
}
#color-box {
  width: 200px;
  height: 200px;
  margin: 20px 0;
  background-color: red;
  align-items: center;
  transition: background-color 0.3s ease;
}

#change-color-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;

  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#change-color-btn:hover {
  background-color: blue;
}
